*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.ttf");
}

/*
@font-face {
  font-family: TiltNeon;
  src: url("fonts/TiltNeon-Regular.ttf");
  font-size: larger;
}*/

body{
    background-color: rgb(149, 173, 224);
}

a{
    font-size: 21px;
}

div{
    text-align: center;
}

p{
    text-align: center;
    font-size: 30px;
    color: lavender;
}

h1{
    position: relative;
    font-weight: bolder;
    font-size: 60px;
    color: white;
}

h2{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: lavender;
}

h3{
    text-align: left;
    font-weight: bolder;
    font-size: 2.5vh;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-left: 12px;
    
}

h4{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 2vh;
    color: rgb(0, 0, 0);

    margin-bottom: 20px;
    display: inline-flexbox;
}

p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(40, 59, 70);
}

a{
    font-style: italic;
}

.menustrip
{
    text-align: center;
    border-bottom: 2px solid #fff;
    width: 100%;
    margin: 0 auto;
    z-index: 200;
}

.menustrip ul
{
    display: inline-flex;
    list-style: none;
}

.menustrip ul li
{
    width: auto;
    margin: 15px;
    padding: 15px;
}


.menustrip ul li a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    font-size: 23px;    
}

.menustrip ul li:hover
{
    background-color: rgb(111, 135, 187);
    border-radius: 4px;
}

.submenu
{
    display: none;
    border-radius: 6px;
}

.submenu ul li
{
    background-color: transparent;
}

.menustrip ul li:hover .submenu
{
    display:block;
    position: absolute;

    margin-top: 15px;
    margin-left: -15px;
}


.menustrip ul li:hover .submenu ul
{
    display:block;
    margin: 10px;
}

.menustrip ul li:hover .submenu ul li
{
    width: 180px;
    padding: 10px;
    border-bottom: 2px dotted whitesmoke;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}

.submenu ul li a:hover
{
    text-decoration: underline;
}



.menustrip ul li:hover .submenu ul li:last-child
{
    border-bottom: none;
}

.submenu1
{
    display: none;
}

.hoverme:hover .submenu1
{
    position: absolute;
    display: block;
    margin-top: -50px;
    margin-left: 170px;
}

.submenu1 ul li a:hover
{
    color: rgb(192, 225, 255);
}


.logo{
    position:fixed;
    top:5px;
    left: 5px;
    float: left;
    height: 80px;
    z-index: 100;
}
.ikona{
    float: left;
    height: 23px;
    margin-right: 8px;
}

.videjo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.slikaDiv{
    width: 100%;
    text-align:center; 
  /*  display: inline-block;*/
    white-space:nowrap;
    background-size:cover;
    background-repeat: no-repeat;
}

.drzacDiv{
    display: flex;
    align-items: center;
    justify-content: center
}

.slikaElement{
    height: 60%;
    margin-left: 25%;
    margin-right: 25%;
}

.pozadina{
    background: fixed;
}

.footer{
    border-top:  2px solid #fff;;
    width: 100%;
    text-align:center; 
    display: inline-block;
    background-size:cover;
    padding-top: 30px;
}

.footerInfo{
    display:inline-block;
    width: 25%;
    margin: 20px;
    vertical-align:middle;
    opacity: 100%;
}

.footerLink{
    text-decoration:underline;
    font-weight: bolder;
}

.madeBy{
    height: 6vh;
    width: 100%;
    
    position: relative;
    bottom: 0px;
    
    text-align: right;
}

.topGradient{
    background-image: linear-gradient(rgb(33, 41, 54), transparent);
    position:fixed; 
    top: 0; 
    height: 1vh; 
    width: 100%;
}
.bottomGradient{
    background-image: linear-gradient(transparent, rgb(33, 41, 54));
    position:fixed; 
    bottom: 0; 
    height: 1vh; 
    width: 100%;
}

.bojamss{
    background-image: linear-gradient(rgb(111, 135, 187), rgb(149, 173, 224), transparent);
}

.boja1{
    background-color: cornflowerblue;
}
.boja2{
    background-color: rgb(149, 173, 224);
}
    .boja21{
        background-color: rgb(118, 141, 189);
    }

.boja3{
    background-color: rgb(215, 160, 236);
}
    .boja3o{
        background-color: rgb(215, 160, 236, 80%);
    }
.bojatekst1{
    color: rgb(27, 38, 39);
}

.bojag1{
    background-image: linear-gradient(rgb(33, 41, 54),rgb(33, 41, 54, 70%), transparent);
}
.bojag2{
    background-image: linear-gradient(transparent,rgb(33, 41, 54, 70%), rgb(33, 41, 54));
}
.bojag3{
    background-image: linear-gradient(rgb(33, 41, 54), transparent, transparent);
}

.slika1{
    background-image: url("slike/salon.jpg");
    height: 600px;

}

.slika2{
    background-image: url("slike/salon-proba.webp");
}

.slika3{
    background-image: url("slike/model2.png");
}
    .slika31{
        background-image: url("slike/model2.jpg");
    }
    .slika31m{
        background-image: url("slike/model2-mirror.jpg");
    }

.slika4{
    background-image: url("slike/nails1.jpg");
}