*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.ttf");
}

/*
@font-face {
  font-family: TiltNeon;
  src: url("fonts/TiltNeon-Regular.ttf");
  font-size: larger;
}*/

body{
    background-color: rgb(149, 173, 224);
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: lavender;
}

h2{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: rgb(40, 59, 70);

    position: relative;
    top: 35%;
    bottom: 15%;
    margin-left: 80px;
}

h3{
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    color: lavender;
    margin-bottom: 10px;
    margin-left: 15px;
    
}

h4{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: lavender;

    margin-bottom: 20px;
    display: inline-flexbox;
}

p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(40, 59, 70);
}

a{
    font-style: italic;
}

.menustrip
{
    background-image: linear-gradient(rgb(110, 127, 165), rgb(149, 173, 224));
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.menustrip ul
{
    display: inline-flex;
    list-style: none;
}

.menustrip ul li
{
    width: auto;
    margin: 15px;
    padding: 15px;
}


.menustrip ul li a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    font-size: 26px;    
}

.menustrip ul li:hover
{
    background-image: linear-gradient(rgb(110, 127, 165), rgb(135, 158, 207));
    border-radius: 6px;
}

.menustrip ul li:hover .submenu
{
    display:block;
    position: absolute;
    background-image: linear-gradient(rgb(135, 158, 207), rgb(149, 173, 224));

    margin-top: 15px;
    margin-left: -15px;
}

.submenu
{
    display: none;
    border-radius: 6px;
}

.submenu ul li
{
    background-color: transparent;
}
.submenu ul li:hover
{
    background-image: none;
}


.menustrip ul li:hover .submenu ul
{
    display:block;
    margin: 10px;
}

.menustrip ul li:hover .submenu ul li
{
    width: 180px;
    padding: 10px;
    border-bottom: 2px dotted rgb(32, 59, 77);
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}

.submenu ul li a:hover
{
    color: rgb(81, 94, 122);
}

.menustrip ul li:hover .submenu ul li:last-child
{
    border-bottom: none;
}


.logo
{
    position:fixed;
    top:15px;
    left: 15px;
    float: left;
}
.ikona
{
    float: left;
    width: 23px;
    height: 23px;
    margin-right: 8px;
}

.slikaDiv
{
    width: 100%;
    text-align:center; 
    display: inline-block;
    white-space:nowrap;
    background-size:cover;
    background-repeat: no-repeat;
}

/*
.slikaDiv1
{
    width: 40%;
    height: 70%;
    position: relative;
    padding-top: 15%;
    bottom:20px;
    margin-left: 120px;
    margin-right: 120px;
}*/

.slikaUnutarDiva
{
    width: 50%;
    height: 70%;
    float: right;
}

.malaPozadina
{
    width: 100%;
    height: 800px;
    text-align:center; 
    display: inline-block;
    white-space:nowrap;
    background-size:cover;
}

.footerFiller{
    height: 120px;
    width: 100%; 
    background-image: linear-gradient(rgb(149, 173, 224), rgb(129, 153, 204), rgb(55, 80, 114));
}


.footer
{
    width: 100%;
    text-align:center; 
    display: inline-block;
    background-size:cover;
    padding-top: 30px;
}

.footerInfo
{
    display:inline-block;
    width: 25%;
    margin: 20px;
    vertical-align:middle;
}

.footerLink
{
    text-decoration: none;
    font-weight: bolder;
}

.madeBy{
    text-align: right;
    position: relative;
    bottom: 10px;
    right: 20px;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.boja1{
    background-color: cornflowerblue;
}
.boja2{
    background-color: rgb(149, 173, 224);
}
.bojatekst1{
    color: rgb(53, 88, 90);
}

.slika1{
    background-image: url("slike/salon.jpg");
    height: 600px;

}
.slika2{
    background-image: url("slike/salon-proba.webp");
}

.slika3{
    background-image: url("slike/model2.png");
}