*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Bold.ttf");
}

/*
@font-face {
  font-family: TiltNeon;
  src: url("fonts/TiltNeon-Regular.ttf");
  font-size: larger;
}*/


h1{
    text-align: left;
    font-weight: bolder;
    font-size: 60px;
    color: lavender;
}

h2{
    text-align: left;
    font-weight: bolder;
    font-size: 60px;
    color: rgb(1, 61, 117);
}
a{
    font-style: italic;
}

.menustrip
{
    background-image: linear-gradient(rgb(69, 163, 226), rgb(149, 173, 224));
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.menustrip ul
{
    display: inline-flex;
    list-style: none;
}

.menustrip ul li
{
    width: auto;
    margin: 15px;
    padding: 15px;
}


.menustrip ul li a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    font-size: 21px;    
}

.menustrip ul li:hover
{
    background-image: linear-gradient(rgb(60, 146, 204), rgb(135, 158, 207));
    border-radius: 6px;
}

.menustrip ul li:hover .submenu
{
    display:block;
    position: absolute;
    background-image: linear-gradient(rgb(135, 158, 207), rgb(149, 173, 224));

    margin-top: 15px;
    margin-left: -15px;
}

.submenu
{
    display: none;
    border-radius: 6px;
}

.submenu ul li
{
    background-color: transparent;
}
.submenu ul li:hover
{
    background-image: none;
}


.menustrip ul li:hover .submenu ul
{
    display:block;
    margin: 10px;
}

.menustrip ul li:hover .submenu ul li
{
    width: 180px;
    padding: 10px;
    border-bottom: 2px dotted rgb(32, 59, 77);
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}

.submenu ul li a:hover
{
    color: rgb(66, 96, 153);
}

.menustrip ul li:hover .submenu ul li:last-child
{
    border-bottom: none;
}




.logo
{
    position:fixed;
    top:15px;
    left: 15px;
    float: left;
}
.ikona
{
    height: 80px;
}

.slikaDiv
{
    width: 100%;
    text-align:center; 
    display: inline-block;
    white-space:nowrap;
    background-size:cover;
    background-repeat: no-repeat;
}

.pozadinaDiv
{
    width: 100%;
    height: 2000px;
    text-align:center; 
    display: inline-block;
    white-space:nowrap;
    background-size:cover;
    background-color: rgb(149, 173, 224);
}

.boja1{
    background-color: cornflowerblue;
}
.boja2{
    background-color: rgb(149, 173, 224);
}

.slika1{
    background-image: url("slike/salon.jpg");
    height: 600px;

}
.slika2{
    background-image: url("slike/salon-proba.webp");
    height: 600px;
}

.slika3{
    background-image: url("slike/model2.png");
    background-size: cover;
}